<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Signup Page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="style.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style type="text/css">
			body{
				background-size: cover;
				background-position: center center;
				background-attachment: fixed;
			}

		#ui{
			background-color: #333;
			padding: 30px;
			margin-top: 50px;
			border-radius: 10px;
			opacity: 0.9;
		}

		#ui label,h1{
			color: #fff;
		}

  </style>
</head>

<body>
<div class="container-fluid bg-primary text-white text-center p-4 mb-3">
  <h2>WatchIt</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div id="ui">
        <h1 class="text-center">Create Your Account</h1>
        <br>
        <form method="post" th:action="@{/user/save}" th:object="${user}" enctype="multipart/form-data">
          <div class="row text-center">
            <div class="col-lg-6">
              <label>Name</label>
              <input class="form-control" maxlength="40" minlength="2" name="name" placeholder="Enter your Name"
                     required th:field="*{name}" type="text">
            </div>
            <div class="col-lg-6">
              <label>CNIC</label>
              <input class="form-control" maxlength="13" minlength="13" name="CNIC" placeholder="Enter your CNIC"
                     required th:field="*{CNIC}" type="text">
            </div>

          </div>
          <br>
          <div class="text-center">
            <label>Email</label>
            <input class="form-control" maxlength="40" minlength="8" name="email"
                   placeholder="Enter your Email Address" required th:field="*{email}" type="email">
          </div>
          <br>
          <div class="row">

            <div class="col-lg-6 text-center">
              <label>Password</label>
              <input class="form-control" maxlength="25" minlength="3" name="password"
                     placeholder="Enter New Password" required th:field="*{password}" type="password">
            </div>

            <div class="col-lg-6 text-center">
              <label>Re-type Password</label>
              <input class="form-control" maxlength="25" minlength="3" name="confirm_password"
                     placeholder="Re-type the Password" required type="password">
            </div>

          </div>
          <br>
          <div class="text-center">
            <label>Date of Birth</label>
            <br>
            <input class="form-control" name="dateofbirth" placeholder="Enter Your Date of Birth" required
                   th:field="*{DOB}" type="date">
          </div>
          <br>
          <div>
            <label>Profile Photo</label>
            <input type="file" name="file" accept="image/*" class="form-control-file">
          </div>
          <br>
          <input id="newsletter" name="newsletter" type="checkbox" value="check">
          <label for="newsletter">I accept the terms and conditions</label>
          <br>
          <input class="btn btn-primary btn-block" name="submit" type="submit" value="Submit">
          <br>
          <div class="text-center">
            <label>Already have an account?</label>
            <a th:href="@{login}" style="color:white;"><u>Sign In</u></a>
          </div>
        </form>

      </div>

    </div>
  </div>
  <div class="col-lg-3">
  </div>

</div>

</div>
</div>
<div
    class=" text-center fixed-bottom  bg-primary">
  <!-- Copyright -->
  <div class="text-white text-center my-2">
    Copyright © 2022. All rights reserved.
  </div>
  <!-- Copyright -->

  <!-- Right -->

</div>


</div>

</body>
</html>